.select__label {
  display: block;
  margin-bottom: 1.1rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 3px;
  color: var(--color-dusty-gray);
}

.choices {
  width: 32.1rem;
}

.choices:focus .choices__inner {
  outline: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 2px var(--color-tundora);
}

.choices__inner {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  border-radius: 0.5rem;
  padding: 7.5px 22px 3.75px;
  width: 100%;
  height: 7.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  color: #4e4e4e;
  background-color: var(--color-wide-sand);
}

.choices[data-type*='select-one']::after {
  content: '';
  position: absolute;
  right: 3.5rem;
  top: 50%;
  margin-top: 0;
  border: none;
  width: 1.3rem;
  height: 0.8rem;
  background-image: url('../img/svg/arrow-down.svg');
  transition: transform 0.2s;
  pointer-events: none;
}

.choices[data-type*='select-one'].is-open::after {
  margin-top: 0;
  transform: rotate(180deg);
}

.choices__list {
  background-color: var(--color-wide-sand);
}

.choices__item--choice {
  font-weight: 500;
  letter-spacing: 1px;
  color: #4e4e4e;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #e8e8e8;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  z-index: 1;
  border: 1px solid #dbdbdb;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 2rem;
}
