.header {
  position: absolute;
  width: 100%;
  height: 8.7rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--color-light);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
  }
}
