.plan {
  display: flex;
  gap: 2.7rem;

  @include bp($desktop-big) {
    gap: 4rem;
  }

  @include bp($mobile-big) {
    flex-direction: column;
  }
}

.plan-card {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 3.4rem 0 2.6rem 3.5rem;
  width: 41.7rem;
  background: rgb(255 255 255 / 10%);
  transition: transform 0.2s;
  backdrop-filter: blur(0.7px);
  gap: 2.8rem;

  svg {
    width: 3.2rem;
    height: 3.2rem;
    fill: rgb(255 255 255 / 60%);
    transition: fill 0.2s;
  }

  &__title {
    margin-bottom: 0.4rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-light);
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
      text-decoration: none;
      color: var(--color-light);
      opacity: 0.4;
      transition: opacity 0.2s;
    }
  }

  &__link::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &:hover {
    transform: translateY(-4px);
    backdrop-filter: blur(2px);
  }

  &:hover &__link {
    opacity: 1;
  }

  &:hover svg {
    fill: var(--color-light);
  }

  &:active {
    transform: translateY(-2px);
  }

  @include bp($desktop-big) {
    width: 32rem;
  }

  @include bp($tablet) {
    width: 41.7rem;

    &:last-child {
      display: none;
    }
  }

  @include bp($tablet-small) {
    width: 32rem;
  }

  @include bp($mobile-big) {
    padding: 2.7rem 0 2.6rem 3rem;

    &:not(:first-child) {
      display: none;
    }
  }
}
