.testimonials {
  margin-bottom: 22.5rem;

  &__wrapper {
    display: flex;
    justify-content: center;
    padding: 14.6rem 0 10.9rem;
    background-image: url('../img/testimonials-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    gap: 5rem;
  }
}
