.main-title {
  font-weight: 700;
  font-size: 25rem;
  line-height: 30.5rem;
  text-align: center;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(47.06deg, #000 -3.87%, rgb(255 255 255 / 0%) 14.89%), #fff;
  background-clip: text;
}

.main-subtitle {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
  letter-spacing: 0.55em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255 255 255 / 70%);
}
