.main-title {
  font-weight: 700;
  font-size: 25rem;
  line-height: 30.5rem;
  text-align: center;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(47.06deg, #000 -3.87%, rgb(255 255 255 / 0%) 14.89%), #fff;
  -webkit-background-clip: text;
}

.main-subtitle {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
  letter-spacing: 0.55em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255 255 255 / 70%);
}

.heading {
  &__subtitle {
    margin-bottom: 2.7rem;
    line-height: 2rem;
    letter-spacing: 0.7em;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-tundora);
  }

  &__title {
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5.6rem;
    text-align: center;
  }
}
