<section class="about">
  <h2 class="visually-hidden">About our philosophy</h2>
  <div class="about__container">
    <div class="heading about__heading">
      <p class="heading__subtitle">About Us</p>
      <h3 class="heading__title">Our Philosophy</h3>
    </div>
    <div class="about__wrapper">
      <div class="about__img-box">
        <img alt="" class="about__img" src="img/about-bg.jpg" />
      </div>
      <div class="about__content">
        <ul class="about__list list-reset">
          <li class="about__item">
            <h4 class="about__title">Sustainable</h4>
            <p class="about__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et nisl hendrerit,
              aliquet mi sed, scelerisque tortor. Aliquam eu scelerisque quam, ac tristique dolor.
              Aliquam nulla risus,
            </p>
          </li>
          <li class="about__item">
            <h4 class="about__title">Fair & Share</h4>
            <p class="about__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et nisl hendrerit,
              aliquet mi sed, scelerisque tortor. Aliquam eu scelerisque quam, ac tristique dolor.
              Aliquam nulla risus,
            </p>
          </li>
          <li class="about__item">
            <h4 class="about__title">Experience</h4>
            <p class="about__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et nisl hendrerit,
              aliquet mi sed, scelerisque tortor. Aliquam eu scelerisque quam, ac tristique dolor.
              Aliquam nulla risus,
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
