<section class="activities">
  <h2 class="visually-hidden">Find activity for you style</h2>
  <div class="container-sm">
    <div class="heading activities__heading">
      <p class="heading__subtitle">Hundreds of</p>
      <h3 class="heading__title">Activities for Everyone</h3>
    </div>
    <div class="activities__button-prev">
      <svg>
        <use xlink:href="img/sprite.svg#arrow-left"></use>
      </svg>
      <span>Back</span>
    </div>
    <div class="activities__button-next">
      <svg>
        <use xlink:href="img/sprite.svg#arrow-right"></use>
      </svg>
      <span>Next</span>
    </div>
    <div class="activities__content">
      <div class="swiper-wrapper">
        <div class="activity swiper-slide">
          <img alt="Hiking" class="activity__picture" src="img/activity-1.jpg" />
          <div class="activity__description">
            <h4 class="activity__title">Hiking</h4>
            <a class="activity__num" href="#">230 activities</a>
          </div>
        </div>
        <div class="activity swiper-slide">
          <img alt="Sailing" class="activity__picture" src="img/activity-2.jpg" />
          <div class="activity__description">
            <h4 class="activity__title">Sailing</h4>
            <a class="activity__num" href="#">121 activities</a>
          </div>
        </div>
        <div class="activity swiper-slide">
          <img alt="Skiing" class="activity__picture" src="img/activity-3.jpg" />
          <div class="activity__description">
            <h4 class="activity__title">Skiing</h4>
            <a class="activity__num" href="#">212 activities</a>
          </div>
        </div>
        <div class="activity swiper-slide">
          <img alt="Kayaking" class="activity__picture" src="img/activity-4.jpg" />
          <div class="activity__description">
            <h4 class="activity__title">Kayaking</h4>
            <a class="activity__num" href="#">512 activities</a>
          </div>
        </div>
        <div class="activity swiper-slide">
          <img alt="Sailing" class="activity__picture" src="img/activity-2.jpg" />
          <div class="activity__description">
            <h4 class="activity__title">Sailing</h4>
            <a class="activity__num" href="#">121 activities</a>
          </div>
        </div>
        <div class="activity swiper-slide">
          <img alt="Skiing" class="activity__picture" src="img/activity-3.jpg" />
          <div class="activity__description">
            <h4 class="activity__title">Skiing</h4>
            <a class="activity__num" href="#">230 activities</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
