<div class="rating">
  <input id="star5" name="rating" type="radio" value="5" /><label for="star5"></label>
  <input checked id="star4" name="rating" type="radio" value="4" /><label for="star4"></label>
  <input id="star3" name="rating" type="radio" value="3" /><label for="star3"></label>
  <input id="star2" name="rating" type="radio" value="2" /><label for="star2"></label>
  <input id="star1" name="rating" type="radio" value="1" /><label for="star1"></label>
</div>

<label class="select__label" for="location-select">Location</label>
<select class="select" id="location-select" name="location">
  <option value="norway">Norway</option>
  <option value="finland">Finland</option>
  <option value="sweden">Sweden</option>
</select>

<div class="date-picker">
  <label class="date-picker__label" for="date">Date</label>
  <input
    class="date date-picker__input"
    id="date"
    name="date"
    placeholder="Thu, 28 Dec"
    type="text"
  />
  <span class="date-picker__arrow"></span>
</div>
