<header class="header" id="header">
  <div class="container-big">
    <div class="header__wrapper">
      <a class="header__logo" href="#header">
        <img alt="Travelx logo" class="header__logo-img" src="img/logo-light.png" />
      </a>
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a class="nav__link" href="#destinations">Destinations</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#activities">Activities</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about">About Us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#footer">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
