<header class="header">
  <div class="container-big">
    <div class="header__wrapper">
      <a href="#" class="header__logo">
        <img src="img/logo-light.png" alt="Travelx logo" />
      </a>
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">Destinations</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Activities</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">About Us</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
