<section class="hero">
  <h1 class="visually-hidden">Explore Norway with Travelx</h1>
  <div class="container-big hero__wrapper">
    <div class="hero__top">
      <div class="hero__socials">
        <ul class="hero__socials-list list-reset">
          <li class="hero__socials-item">
            <a href="#" class="hero__socials-link">
              <svg>
                <use xlink:href="img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="hero__socials-item">
            <a href="#" class="hero__socials-link">
              <svg>
                <use xlink:href="img/sprite.svg#ins"></use>
              </svg>
            </a>
          </li>
          <li class="hero__socials-item">
            <a href="#" class="hero__socials-link">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="hero__title-box">
        <h3 class="hero__subtitle main-subtitle">Explore</h3>
        <h2 class="hero__title main-title">Norway</h2>
      </div>
    </div>
    <div class="hero__bottom">
      <a href="#" class="hero__see-more">See more</a>
      <div class="plan hero__plan">
        <div class="plan-card">
          <svg>
            <use xlink:href="img/sprite.svg#map-marker"></use>
          </svg>
          <div class="plan-card__content">
            <h4 class="plan-card__title">Trondheim</h4>
            <a href="#" class="plan-card__link">Plan a trip</a>
          </div>
        </div>
        <div class="plan-card">
          <svg>
            <use xlink:href="img/sprite.svg#map-marker"></use>
          </svg>
          <div class="plan-card__content">
            <h4 class="plan-card__title">Geirangerfjord</h4>
            <a href="#" class="plan-card__link">Plan a trip</a>
          </div>
        </div>
        <div class="plan-card">
          <svg>
            <use xlink:href="img/sprite.svg#map-marker"></use>
          </svg>
          <div class="plan-card__content">
            <h4 class="plan-card__title">Lofoten</h4>
            <a href="#" class="plan-card__link">Plan a trip</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
