<section class="partners">
  <h2 class="visually-hidden">Our network</h2>
  <div class="container-sm">
    <div class="heading partners__heading">
      <p class="heading__subtitle" data-aos="fade-left">Network</p>
      <h3 class="heading__title" data-aos="fade-right">Our Partners</h3>
    </div>
    <ul class="partners__list list-reset">
      <li class="partner" data-aos="flip-up">
        <img alt="" class="partner__img" src="img/partner-1.png" />
      </li>
      <li class="partner" data-aos="fade-up">
        <img alt="" class="partner__img" src="img/partner-2.png" />
      </li>
      <li class="partner" data-aos="fade-up">
        <img alt="" class="partner__img" src="img/partner-3.png" />
      </li>
      <li class="partner" data-aos="fade-up">
        <img alt="" class="partner__img" src="img/partner-4.png" />
      </li>
    </ul>
  </div>
</section>
