<section class="testimonials">
  <h2 class="visually-hidden">Testimonials</h2>
  <div class="container-med testimonials__wrapper">
    <blockquote class="testimonial">
      <div class="testimonial__speech testimonial__speech--bottom">
        <span class="testimonial__quotemark">“</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh
        lectus feugiat nunc sem. consectetur adipiscing elit. nibh lectus feugiat nunc
      </div>
      <footer class="testimonial__additional">
        <img alt="Jane Cooper" src="img/author-1.png" />
        <div class="testimonial__author">
          <div class="testimonial__name">Jane Cooper</div>
          <div class="testimonial__position">CEO, ABC Corporation</div>
        </div>
      </footer>
    </blockquote>
    <blockquote class="testimonial">
      <div class="testimonial__speech testimonial__speech--bottom">
        <span class="testimonial__quotemark">“</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh
        lectus feugiat nunc sem. consectetur adipiscing elit. nibh lectus feugiat nunc
      </div>
      <footer class="testimonial__additional">
        <img alt="Alan Jackson" src="img/author-2.png" />
        <div class="testimonial__author">
          <div class="testimonial__name">Alan Jackson</div>
          <div class="testimonial__position">CEO, Travelers Community</div>
        </div>
      </footer>
    </blockquote>
    <blockquote class="testimonial">
      <div class="testimonial__speech testimonial__speech--bottom">
        <span class="testimonial__quotemark">“</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh
        lectus feugiat nunc sem. consectetur adipiscing elit. nibh lectus feugiat nunc
      </div>
      <footer class="testimonial__additional">
        <img alt="Jane Cooper" src="img/author-3.png" />
        <div class="testimonial__author">
          <div class="testimonial__name">Jane Cooper</div>
          <div class="testimonial__position">CEO, Go Travel</div>
        </div>
      </footer>
    </blockquote>
  </div>
</section>
