// for using scss variables delete root

:root {
  // font-family
  --ff-manropy: 'Manropy', sans-serif;
  --ff-mantserrat: 'Montserrat', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  // colors
  --color-light: #fff;
  --color-wide-sand: #f4f4f4;
  --color-dusty-gray: #9b9b9b;
  --color-dove-gray: #6d6d6d;
  --color-mine-shaft: #2d2d2d;
}
