// for using scss variables delete root

:root {
  // font-family
  --ff-manropy: 'Manropy', sans-serif;
  --ff-mantserrat: 'Montserrat', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  // colors
  --light-color: #fff;
}
